:root{
    --teal: rgb(164, 144, 124);
    --teal-hover: rgb(39,158,140);
    --back: rgb(245, 239, 231);
}

*{
    font-family: 'Poppins', sans-serif;
}
.h-font{
    font-family: 'Merienda', cursive;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
}
.navbar-custom{
    background-color: var(--teal);
}
.custom-bg{
    background-color:  var(--teal);
    border: 1px solid  var(--teal);
}
.custom-bg:hover{
    background-color: var(--teal-hover);
    border: var(--teal-hover);
}
.availability-form{
    margin-top: -20px;
    z-index: 2;
    position: relative;
}
.back-colour{
    background-color: var(--back);
}
.logo{
    mix-blend-mode: multiply;
    filter: contrast(1);
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .h-line{
    width: 150px;
    margin: 0 auto;
    height: 1.7px;
  }
